[Unit]
Description=CraftCorps Crash Report Server
After=network.target

[Service]
User=debian
WorkingDirectory=/home/debian/crash-service
ExecStart=/usr/bin/python3 /home/debian/crash-service/crash_server.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
